<h1 class="text-center">Editar Servicios Adicionales</h1>

<%= render 'form', serv_adicionale: @serv_adicionale %>

<%= link_to 'Show', @serv_adicionale %> |
<%= link_to 'Back', serv_adicionales_path %>
