<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @serv_adicionale.nombre %>
</p>

<%= link_to 'Edit', edit_serv_adicionale_path(@serv_adicionale) %> |
<%= link_to 'Back', serv_adicionales_path %>
